<nav class="main-nav-outer" id="test"><!--main-nav-start-->
	<div class="container">
        <ul class="main-nav">
        	<li><a href="#header"><i class="fa fa-home"></i>Home</a></li>
            <li><a href="#team"><i class="fa fa-users">  </i>Team</a></li>
            <li><a href="#service"><i class="fa fa-home">  </i>Services</a></li>
            <li><a href="#Portfolio"><i class="fa fa-home">  </i>Portfolio</a></li>
            <li><a href="#contact"><i class="fa fa-home">  </i>Contact</a></li>
        </ul>
        <a class="res-nav_click" href="#"><i class="fa-bars"></i></a>

    </div>
</nav><!--main-nav-end-->
<br/><br/>